#team-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;

    .team-card {
        position: relative;
        width: fit-content;
        min-width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        padding: 20px;
    }

    .team-card img {
        display: flex;
        height: 100%;
        margin-right: 10px;
        overflow: hidden;
        padding: 8px;
    }

    .divider {
        background-color: rgba(0, 0, 0, 1);
        display: flex;
    }

    .divider.horizontal {
        flex-direction: row;
        height: 1px;
        width: 100%;
    }

    .divider.vertical {
        flex-direction: column;
        width: 1px;
        height: 100%;
    }

    .team-card-info {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    .team-card-info>div {
        padding: 4px 8px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            margin-left: 20px;
            height: 20px;
            padding: 0;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .team-card-info>div:not(:last-child) {
        margin-bottom: 8px;
    }

    .team-users {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 40px;
    }
}