#neumorphic-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .preview div {
        width: 200px;
        height: 100px;
        margin: 20px;
    }

    .copy-class {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .copy-button {
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;
        margin: 10px;
    }

    .copy-button:hover {
        cursor: pointer;
    }

    label,
    p {
        color: white;
    }

    p {
        font-weight: bold;
        font-size: 16px;
        margin-right: 20px;
        width: 150px;
    }

    .properties {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        width: 550px;
    }

    .property-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

/** SURFACE COLORS */
.surface-100 {
    background-color: var(--color-surface-100);
    border-color: var(--color-surface-primary-100);
}

.surface-200 {
    background-color: var(--color-surface-200);
    border-color: var(--color-surface-primary-200);
}

.surface-300 {
    background-color: var(--color-surface-300);
    border-color: var(--color-surface-primary-300);
}

.surface-400 {
    background-color: var(--color-surface-400);
    border-color: var(--color-surface-primary-400);
}

.surface-500 {
    background-color: var(--color-surface-500);
    border-color: var(--color-surface-primary-500);
}

.surface-600 {
    background-color: var(--color-surface-600);
    border-color: var(--color-surface-primary-600);
}

.surface-primary-100 {
    background-color: var(--color-surface-primary-100);
    border-color: var(--color-surface-primary-100);
}

.surface-primary-100-important {
    background-color: var(--color-surface-primary-100) !important;
    border-color: var(--color-surface-primary-100) !important;
}

.surface-primary-200 {
    background-color: var(--color-surface-primary-200);
    border-color: var(--color-surface-primary-200);
}

.surface-primary-200-important {
    background-color: var(--color-surface-primary-200) !important;
    border-color: var(--color-surface-primary-200) !important;
}

.surface-primary-300 {
    background-color: var(--color-surface-primary-300);
    border-color: var(--color-surface-primary-300);
}

.surface-primary-400 {
    background-color: var(--color-surface-primary-400);
    border-color: var(--color-surface-primary-400);
}

.surface-primary-500 {
    background-color: var(--color-surface-primary-500);
    border-color: var(--color-surface-primary-500);
}

.surface-primary-600 {
    background-color: var(--color-surface-primary-600);
    border-color: var(--color-surface-primary-600);
}

/** TRANSITION */
.transition-smooth {
    transition: all 0.3s ease;
}

div {
    box-shadow: var(--shadow-none), var(--shadow-inset-none), var(--shadow-smooth-none);
}

/** FOCUS / ACTIVE / HOVER */

.active-invert:hover,
.hover-invert:hover {
    cursor: pointer;
    filter: brightness(1.05);
    user-select: none;
}

.hover-invert:hover {
    color: var(--text-color-dark);
    text-shadow: var(--text-shadow-inset-small);
}

.hover-invert:not(.shadow-inset-mid):not(.shadow-inset-large):not(.shadow-inset-xlarge):hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-small), var(--shadow-smooth-none);
}

/*
.active-invert.text-color-dark:active,
.hover-inver.text-color-dark:hover {
    color: var(--text-color-light);
}
*/

.focus-invert.text-color-light:focus,
.active-invert.text-color-light:active,
.hover-invert.text-color-light:hover {
    color: var(--text-color-dark);
    text-shadow: var(--text-shadow-inset-small);
}

.focus-invert.text-color-grey:focus,
.active-invert.text-color-grey:active,
.hover-invert.text-color-grey:hover {
    color: var(--text-color-dark);
    text-shadow: var(--text-shadow-inset-small);
}




/** FOCUS / ACTIVE / HOVER SHADOW */

.focus-invert.shadow-small:focus,
.active-invert.shadow-small:active,
.hover-invert.shadow-small:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-small), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-mid:focus,
.active-invert.shadow-mid:active,
.hover-invert.shadow-mid:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-mid), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-large:focus,
.active-invert.shadow-large:active,
.hover-invert.shadow-large:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-large), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-xlarge:focus,
.active-invert.shadow-xlarge:active,
.hover-invert.shadow-xlarge:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-xlarge), var(--shadow-smooth-none) !important;
}


/** FOCUS / ACTIVE / HOVER SHADOW-SMOOTH */

.focus-invert.shadow-smooth-small:focus,
.active-invert.shadow-smooth-small:active,
.hover-invert.shadow-smooth-small:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-small), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-smooth-mid:focus,
.active-invert.shadow-smooth-mid:active,
.hover-invert.shadow-smooth-mid:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-mid), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-smooth-large:focus,
.active-invert.shadow-smooth-large:active,
.hover-invert.shadow-smooth-large:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-large), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-smooth-xlarge:focus,
.active-invert.shadow-smooth-xlarge:active,
.hover-invert.shadow-smooth-xlarge:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-xlarge), var(--shadow-smooth-none) !important;
}


/** FOCUS / ACTIVE / HOVER SHADOW SHADOW-SMOOTH */

.focus-invert.shadow-small.shadow-smooth-small:focus,
.active-invert.shadow-small.shadow-smooth-small:active,
.hover-invert.shadow-small.shadow-smooth-small:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-small), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-small.shadow-smooth-mid:focus,
.active-invert.shadow-small.shadow-smooth-mid:active,
.hover-invert.shadow-small.shadow-smooth-mid:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-mid), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-small.shadow-smooth-large:focus,
.active-invert.shadow-small.shadow-smooth-large:active,
.hover-invert.shadow-small.shadow-smooth-large:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-large), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-small.shadow-smooth-xlarge:focus,
.active-invert.shadow-small.shadow-smooth-xlarge:active,
.hover-invert.shadow-small.shadow-smooth-xlarge:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-xlarge), var(--shadow-smooth-none) !important;
}



.focus-invert.shadow-mid.shadow-smooth-small:focus,
.active-invert.shadow-mid.shadow-smooth-small:active,
.hover-invert.shadow-mid.shadow-smooth-small:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-mid), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-mid.shadow-smooth-mid:focus,
.active-invert.shadow-mid.shadow-smooth-mid:active,
.hover-invert.shadow-mid.shadow-smooth-mid:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-mid), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-mid.shadow-smooth-large:focus,
.active-invert.shadow-mid.shadow-smooth-large:active,
.hover-invert.shadow-mid.shadow-smooth-large:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-large), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-mid.shadow-smooth-xlarge:focus,
.active-invert.shadow-mid.shadow-smooth-xlarge:active,
.hover-invert.shadow-mid.shadow-smooth-xlarge:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-xlarge), var(--shadow-smooth-none) !important;
}



.focus-invert.shadow-large.shadow-smooth-small:focus,
.active-invert.shadow-large.shadow-smooth-small:active,
.hover-invert.shadow-large.shadow-smooth-small:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-large), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-large.shadow-smooth-mid:focus,
.active-invert.shadow-large.shadow-smooth-mid:active,
.hover-invert.shadow-large.shadow-smooth-mid:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-large), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-large.shadow-smooth-large:focus,
.active-invert.shadow-large.shadow-smooth-large:active,
.hover-invert.shadow-large.shadow-smooth-large:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-large), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-large.shadow-smooth-xlarge:focus,
.active-invert.shadow-large.shadow-smooth-xlarge:active,
.hover-invert.shadow-large.shadow-smooth-xlarge:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-xlarge), var(--shadow-smooth-none) !important;
}



.focus-invert.shadow-xlarge.shadow-smooth-small:focus,
.active-invert.shadow-xlarge.shadow-smooth-small:active,
.hover-invert.shadow-xlarge.shadow-smooth-small:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-xlarge), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-xlarge.shadow-smooth-mid:focus,
.active-invert.shadow-xlarge.shadow-smooth-mid:active,
.hover-invert.shadow-xlarge.shadow-smooth-mid:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-xlarge), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-xlarge.shadow-smooth-large:focus,
.active-invert.shadow-xlarge.shadow-smooth-large:active,
.hover-invert.shadow-xlarge.shadow-smooth-large:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-xlarge), var(--shadow-smooth-none) !important;
}

.focus-invert.shadow-xlarge.shadow-smooth-xlarge:focus,
.active-invert.shadow-xlarge.shadow-smooth-xlarge:active,
.hover-invert.shadow-xlarge.shadow-smooth-xlarge:hover {
    box-shadow: var(--shadow-none), var(--shadow-inset-xlarge), var(--shadow-smooth-none) !important;
}

/** FOCUS / ACTIVE / HOVER BULDGE */

.focus-invert.buldge-small:focus,
.active-invert.buldge-small:active,
.hover-invert.buldge-small:active {
    background: var(--dip-small);
}

.focus-invert.buldge-mid:focus,
.active-invert.buldge-mid:active,
.hover-invert.buldge-mid:active {
    background: var(--dip-mid);
}

.focus-invert.buldge-large:focus,
.active-invert.buldge-large:active,
.hover-invert.buldge-large:active {
    background: var(--dip-large);
}

.focus-invert.buldge-xlarge:focus,
.active-invert.buldge-xlarge:active,
.hover-invert.buldge-xlarge:active {
    background: var(--dip-xlarge);
}

/** TEXT */

.text-shadow-small {
    text-shadow: var(--text-shadow-small);
}

.text-shadow-inset-small {
    text-shadow: var(--text-shadow-inset-small);
}

.text-color-light {
    color: var(--text-color-light);
}

.text-color-light-important {
    color: var(--text-color-light) !important;
}

.text-color-grey {
    color: var(--text-color-grey);
}

.text-color-dark {
    color: var(--text-color-dark);
}

/** SHADOW */

.shadow-small {
    box-shadow: var(--shadow-small), var(--shadow-inset-none), var(--shadow-smooth-none);
}

.shadow-mid {
    box-shadow: var(--shadow-mid), var(--shadow-inset-none), var(--shadow-smooth-none);
}

.shadow-large {
    box-shadow: var(--shadow-large), var(--shadow-inset-none), var(--shadow-smooth-none);
}

.shadow-xlarge {
    box-shadow: var(--shadow-xlarge), var(--shadow-inset-none), var(--shadow-smooth-none);
}

/** SHADOW-INSET */

.shadow-inset-small {
    box-shadow: var(--shadow-none), var(--shadow-inset-small), var(--shadow-smooth-none);
}

.shadow-inset-small-important {
    box-shadow: var(--shadow-none), var(--shadow-inset-small), var(--shadow-smooth-none) !important;
}

.shadow-inset-mid {
    box-shadow: var(--shadow-none), var(--shadow-inset-mid), var(--shadow-smooth-none);
}

.shadow-inset-mid-important {
    box-shadow: var(--shadow-none), var(--shadow-inset-mid), var(--shadow-smooth-none) !important;
}

.shadow-inset-large {
    box-shadow: var(--shadow-none), var(--shadow-inset-large), var(--shadow-smooth-none);
}

.shadow-inset-xlarge {
    box-shadow: var(--shadow-none), var(--shadow-inset-xlarge), var(--shadow-smooth-none);
}

/** SHADOW SHADOW-INSET */

.shadow-small.shadow-inset-small {
    box-shadow: var(--shadow-small), var(--shadow-inset-small), var(--shadow-smooth-none);
}

.shadow-small.shadow-inset-mid {
    box-shadow: var(--shadow-small), var(--shadow-inset-mid), var(--shadow-smooth-none);
}

.shadow-small.shadow-inset-large {
    box-shadow: var(--shadow-small), var(--shadow-inset-large), var(--shadow-smooth-none);
}

.shadow-small.shadow-inset-xlarge {
    box-shadow: var(--shadow-small), var(--shadow-inset-xlarge), var(--shadow-smooth-none);
}

.shadow-mid.shadow-inset-small {
    box-shadow: var(--shadow-mid), var(--shadow-inset-small), var(--shadow-smooth-none);
}

.shadow-mid.shadow-inset-mid {
    box-shadow: var(--shadow-mid), var(--shadow-inset-mid), var(--shadow-smooth-none);
}

.shadow-mid.shadow-inset-large {
    box-shadow: var(--shadow-mid), var(--shadow-inset-large), var(--shadow-smooth-none);
}

.shadow-mid.shadow-inset-xlarge {
    box-shadow: var(--shadow-mid), var(--shadow-inset-xlarge), var(--shadow-smooth-none);
}

.shadow-large.shadow-inset-small {
    box-shadow: var(--shadow-large), var(--shadow-inset-small), var(--shadow-smooth-none);
}

.shadow-large.shadow-inset-mid {
    box-shadow: var(--shadow-large), var(--shadow-inset-mid), var(--shadow-smooth-none);
}

.shadow-large.shadow-inset-large {
    box-shadow: var(--shadow-large), var(--shadow-inset-large), var(--shadow-smooth-none);
}

.shadow-large.shadow-inset-xlarge {
    box-shadow: var(--shadow-large), var(--shadow-inset-xlarge), var(--shadow-smooth-none);
}

.shadow-xlarge.shadow-inset-small {
    box-shadow: var(--shadow-xlarge), var(--shadow-inset-small), var(--shadow-smooth-none);
}

.shadow-xlarge.shadow-inset-mid {
    box-shadow: var(--shadow-xlarge), var(--shadow-inset-mid), var(--shadow-smooth-none);
}

.shadow-xlarge.shadow-inset-large {
    box-shadow: var(--shadow-xlarge), var(--shadow-inset-large), var(--shadow-smooth-none);
}

.shadow-xlarge.shadow-inset-xlarge {
    box-shadow: var(--shadow-xlarge), var(--shadow-inset-xlarge), var(--shadow-smooth-none);
}




/** SHADOW-SMOOTH */

.shadow-smooth-small {
    box-shadow: var(--shadow-none), var(--shadow-inset-none), var(--shadow-smooth-small);
}

.shadow-smooth-mid {
    box-shadow: var(--shadow-none), var(--shadow-inset-none), var(--shadow-smooth-mid);
}

.shadow-smooth-large {
    box-shadow: var(--shadow-none), var(--shadow-inset-none), var(--shadow-smooth-large);
}

.shadow-smooth-xlarge {
    box-shadow: var(--shadow-none), var(--shadow-inset-none), var(--shadow-smooth-xlarge);
}

/** SHADOW SHADOW-SMOOTH */

.shadow-small.shadow-smooth-small {
    box-shadow: var(--shadow-small), var(--shadow-inset-none), var(--shadow-smooth-small);
}

.shadow-small.shadow-smooth-mid {
    box-shadow: var(--shadow-small), var(--shadow-inset-none), var(--shadow-smooth-mid);
}

.shadow-small.shadow-smooth-large {
    box-shadow: var(--shadow-small), var(--shadow-inset-none), var(--shadow-smooth-large);
}

.shadow-small.shadow-smooth-xlarge {
    box-shadow: var(--shadow-small), var(--shadow-inset-none), var(--shadow-smooth-xlarge);
}

.shadow-mid.shadow-smooth-small {
    box-shadow: var(--shadow-mid), var(--shadow-inset-none), var(--shadow-smooth-small);
}

.shadow-mid.shadow-smooth-mid {
    box-shadow: var(--shadow-mid), var(--shadow-inset-none), var(--shadow-smooth-mid);
}

.shadow-mid.shadow-smooth-large {
    box-shadow: var(--shadow-mid), var(--shadow-inset-none), var(--shadow-smooth-large);
}

.shadow-mid.shadow-smooth-xlarge {
    box-shadow: var(--shadow-mid), var(--shadow-inset-none), var(--shadow-smooth-xlarge);
}

.shadow-large.shadow-smooth-small {
    box-shadow: var(--shadow-large), var(--shadow-inset-none), var(--shadow-smooth-small);
}

.shadow-large.shadow-smooth-mid {
    box-shadow: var(--shadow-large), var(--shadow-inset-none), var(--shadow-smooth-mid);
}

.shadow-large.shadow-smooth-large {
    box-shadow: var(--shadow-large), var(--shadow-inset-none), var(--shadow-smooth-large);
}

.shadow-large.shadow-smooth-xlarge {
    box-shadow: var(--shadow-large), var(--shadow-inset-none), var(--shadow-smooth-xlarge);
}

.shadow-xlarge.shadow-smooth-small {
    box-shadow: var(--shadow-xlarge), var(--shadow-inset-none), var(--shadow-smooth-small);
}

.shadow-xlarge.shadow-smooth-mid {
    box-shadow: var(--shadow-xlarge), var(--shadow-inset-none), var(--shadow-smooth-mid);
}

.shadow-xlarge.shadow-smooth-large {
    box-shadow: var(--shadow-xlarge), var(--shadow-inset-none), var(--shadow-smooth-large);
}

.shadow-xlarge.shadow-smooth-xlarge {
    box-shadow: var(--shadow-xlarge), var(--shadow-inset-none), var(--shadow-smooth-xlarge);
}






/** BULDGE */

.buldge-small {
    background: var(--buldge-small);
}

.buldge-mid {
    background: var(--buldge-mid);
}

.buldge-large {
    background: var(--buldge-large);
}

.buldge-xlarge {
    background: var(--buldge-xlarge);
}

/** DIP */

.dip-small {
    background: var(--dip-small);
}

.dip-mid {
    background: var(--dip-mid);
}

.dip-large {
    background: var(--dip-large);
}

.dip-xlarge {
    background: var(--dip-xlarge);
}

/** BORDER */

.border-small,
.border-mid,
.border-large,
.border-xlarge {
    border-style: solid;
}

.border-small {
    border-width: var(--border-small);
}

.border-small-important {
    border-style: solid !important;
    border-width: var(--border-small) !important;
}

.border-mid {
    border-width: var(--border-mid);
}

.border-large {
    border-width: var(--border-large);
}

.border-xlarge {
    border-width: var(--border-xlarge);
}

/** ROUNDED */

.rounded-small {
    border-radius: var(--rounded-small);
}

.rounded-mid {
    border-radius: var(--rounded-mid);
}

.rounded-large {
    border-radius: var(--rounded-large);
}

.rounded-xlarge {
    border-radius: var(--rounded-xlarge);
}

.rounded-circular {
    border-radius: var(--circular);
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
    @extend .shadow-small;
    @extend .shadow-inset-small;
    @extend .border-small;
    @extend .rounded-small;

    margin-bottom: 16px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    resize: none;
}

.list-item {
    @extend .shadow-large;
    @extend .shadow-inset-small;
    @extend .dip-mid;
    @extend .rounded-circular;
    @extend .active-invert;
    @extend .transition-smooth;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 12px;

    >div {
        padding: 4px 16px;
    }

    >div:not(:last-child) {
        border-right: 1px solid black;
    }

    .user-remove {
        &:hover {
            cursor: pointer;
        }
    }
}

.details-actions {
    @extend .surface-primary-200;
    @extend .shadow-small;
    @extend .border-small;
    @extend .rounded-small;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    margin-left: 20px;
    padding: 10px;
    align-self: stretch;

    button {
        @extend .surface-primary-200;
        @extend .shadow-mid;
        @extend .buldge-small;
        @extend .rounded-small;
        @extend .active-invert;
        @extend .transition-smooth;
        @extend .text-color-light;
        @extend .text-shadow-small;

        margin-bottom: 8px;
        padding: 8px 20px;
        font-size: 16px;
        font-weight: bold;
    }
}

.input-card {
    @extend .shadow-smooth-mid;
    @extend .rounded-small;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 30px;
    margin: auto;
    margin: 20px;
    width: 300px;
    min-width: fit-content;

    .input-card-row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;

        label {
            font-size: 16px;
            font-weight: bold;
            margin-right: 10px;
            width: 150px;
        }

        label:has(+textarea) {
            align-self: flex-start;
        }

        input:not([type="checkbox"]),
        textarea {
            margin-bottom: 0;
            flex-grow: 1;
        }

        textarea {
            height: fit-content;
        }


        input[type="checkbox"] {
            @extend .shadow-small;
            @extend .shadow-inset-small;
            @extend .border-small;
            @extend .rounded-small;
            @extend .active-invert;
            @extend .transition-smooth;

            margin: 0;
            margin-right: 8px;
            -webkit-appearance: none;
            appearance: none;
            color: var(--text-color-light);
            width: 36px;
            height: 36px;
            min-width: 36px;
            min-height: 36px;
            display: grid;
            place-content: center;
            cursor: pointer;
        }


        input[type="checkbox"]:checked {
            @extend .shadow-inset-mid;
        }

        input[type="checkbox"]::before {
            content: "";
            width: 12px;
            height: 12px;
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            opacity: 0;
            transition: all 0.1s ease;
            transform-origin: center;
            transform: rotate(10deg);
            box-shadow: inset 21px 21px var(--text-color-light);
            background-color: CanvasText;
        }

        input[type="checkbox"]:checked::before {
            opacity: 1;
        }

        .react-select-container {
            flex-grow: 1;
            z-index: 10;
        }

        .react-select__control {
            @extend .surface-primary-100;
            @extend .shadow-mid;
            @extend .rounded-mid;
            @extend .focus-invert;
            @extend .active-invert;
            @extend .transition-smooth;

            flex-grow: 1;
            padding: 0px 10px;
        }

        .react-select__menu {
            @extend .surface-primary-200;
            @extend .shadow-inset-mid;
            @extend .rounded-large;
            @extend .transition-smooth;

            overflow: hidden;
        }

        .react-select__option {
            @extend .hover-invert;
            @extend .transition-smooth;

            background: transparent;
        }

        .react-select__placeholder {
            @extend .text-color-grey;
            @extend .text-shadow-small;
            @extend .transition-smooth;
        }

        .react-select__single-value {
            @extend .text-color-light;
            @extend .text-shadow-small;
            @extend .transition-smooth;
        }

        .react-select__control--menu-is-open {
            @extend .focus-invert, .shadow-mid, :focus;

            .react-select__placeholder {
                @extend .focus-invert, .text-color-dark, :focus;
                @extend .focus-invert, .text-shadow-inset-small, :focus;
            }

            .react-select__single-value {
                @extend .focus-invert, .text-color-dark, :focus;
                @extend .focus-invert, .text-shadow-inset-small, :focus;
            }
        }
    }

    .input-card-submit {
        @extend .shadow-mid;
        @extend .rounded-mid;
        @extend .active-invert;
        @extend .transition-smooth;

        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;
    }
}

.card-list-item,
.file-list-item {
    @extend .shadow-small;
    @extend .dip-small;
    @extend .rounded-large;
    @extend .hover-invert;
    @extend .transition-smooth;
}

.lecture-dropdown-button {
    @extend .surface-primary-200-important;
    @extend .shadow-smooth-small;
    @extend .hover-invert;
    @extend .transition-smooth;
    @extend .text-color-light-important;
    @extend .text-shadow-small;
}

.lecture-dropdown-menu {
    @extend .surface-primary-200-important;
    @extend .shadow-inset-small-important;
    @extend .text-color-light-important;
    @extend .text-shadow-small;

    border-radius: 0 !important;

    ul {
        margin: 0 !important;
    }
}

.lecture-dropdown-item {
    @extend .rounded-small;
    @extend .hover-invert;
    @extend .transition-smooth;
    @extend .text-color-light-important;
    @extend .text-shadow-small;

    background: transparent !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        margin: 0;
        margin-right: 20px;
    }

    img {
        width: 14px;
        filter: brightness(0.9);
        justify-self: flex-end;
    }
}

.lecture-dropdown-submenu {
    @extend .surface-primary-200-important;
    @extend .shadow-inset-small-important;
    @extend .text-color-light-important;
    @extend .text-shadow-small;

    top: 0px !important;
    left: 100% !important;
    min-width: fit-content !important;
    border-radius: 0 !important;

    ul {
        margin: 0 !important;
    }
}

.keyword-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 600;

    .keyword-chip {
        @extend .surface-primary-200;
        @extend .shadow-small;
        @extend .rounded-small;
        @extend .hover-invert;
        @extend .transition-smooth;
        @extend .text-color-light;
        @extend .text-shadow-small;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        padding: 5px 12px;
        margin: 10px;
        font-size: 14px;
        font-weight: bold;
    }
}

.technology-list {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;

    .technology-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        width: fit-content;
        height: fit-content;
        margin: 5px 12px;

        .img-wrapper {
            @extend .surface-primary-200;
            @extend .shadow-small;
            @extend .rounded-small;
            @extend .hover-invert;
            @extend .border-small;
            @extend .transition-smooth;
            @extend .text-color-light;
            @extend .text-shadow-small;

            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

.lecture-return {
    @extend .surface-primary-100;
    @extend .shadow-smooth-small;
    @extend .rounded-small;
    @extend .active-invert;
    @extend .transition-smooth;
    @extend .text-color-light;
    @extend .text-shadow-small;

    img {
        @extend .transition-smooth;
        filter: brightness(1);
    }

    &:active img {
        filter: brightness(0);
    }
}

.generate-card-button {
    @extend .surface-primary-100;
    @extend .shadow-smooth-small;
    @extend .rounded-small;
    @extend .active-invert;
    @extend .transition-smooth;
    @extend .text-color-light;
    @extend .text-shadow-small;
}

.generate-card-remove {
    @extend .surface-primary-100;
    @extend .shadow-smooth-small;
    @extend .rounded-small;
    @extend .active-invert;
    @extend .transition-smooth;
    @extend .text-color-light;
    @extend .text-shadow-small;
}

.lecture-join-button {
    @extend .surface-primary-100;
    @extend .shadow-smooth-small;
    @extend .rounded-small;
    @extend .active-invert;
    @extend .transition-smooth;
    @extend .text-color-light;
    @extend .text-shadow-small;
}

pre {
    white-space: pre-wrap;
}

.file-upload-dropzone {
    @extend .surface-primary-100-important;
    @extend .shadow-small;
    @extend .shadow-inset-small;
    @extend .border-small-important;
    @extend .rounded-small;

    margin-bottom: 16px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    resize: none;
    justify-content: center;
    border-color: var(--color-surface-100) !important;
    overflow: hidden !important;
    outline: none !important;

    &.file-upload-dropzone-active {
        @extend .shadow-inset-large;

        .file-upload-input-label {
            @extend :hover;
        }
    }

    &:has(.file-upload-preview) {
        padding: 10px !important;
        min-height: fit-content
    }

    .file-upload-input-label {
        @extend .hover-invert;
        @extend .transition-smooth;
        @extend .text-color-light;
        @extend .text-shadow-small;

        position: relative;
        box-shadow: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        width: 100% !important;
        height: 100%;
        flex-grow: 1;
        align-self: stretch;
    }

    .file-upload-preview {
        border: none !important;
        padding: 10px !important;

        .dzu-previewFileName {
            @extend .text-color-light;
            @extend .text-shadow-small;

            font-size: 16px;
            font-weight: bold;
        }

        .dzu-previewButton {
            @extend .text-color-light;

            filter: brightness(20) !important;
            padding: 10px;
        }
    }
}




::-webkit-scrollbar {
    width: 10px;
    overflow: hidden;
}

::-webkit-scrollbar-track {
    @extend .shadow-inset-small;

    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    @extend .surface-primary-100;
    @extend .shadow-smooth-small;

    border-radius: 10px;
    overflow: hidden;
}